body {
    background-color: rgba(165, 148, 240, 0.664);
    margin-top: 5%;

}
h1 {
    color: rgb(85, 74, 74);
   margin-left: 42%;
}
img {
    margin-left: 40%;
    width: 200px;
}

.devourBtn {
    background-color: rgb(187, 53, 187);
    color: rgb(236, 184, 166);
}
.btnsubm {
    background-color: rgb(187, 53, 187);
    color:white;
}